asgiref==3.11.1
certifi==2026.1.4
charset-normalizer==3.4.4
Django==6.0.2
django-simple-deploy==1.4.0
dsd-upsun==1.2.1
idna==3.11
pluggy==1.6.0
requests==2.32.5
sqlparse==0.5.5
toml==0.10.2
urllib3==2.6.3
