<h2>🐦‍🔥👾 Selina Rajk 👾🐦‍🔥</h3>

<p>⚘
  <a href="{% url 'posts:home' %}">Home</a> |
  <a href="{% url 'posts:projects' %}">Projects</a> |
  <a href="{% url 'posts:now' %}">Now</a> |
  <a href="{% url 'posts:code' %}">Code</a> |
  <a href="{% url 'posts:favourites' %}">Favourites</a> |
  <a href="{% url 'posts:otherswork' %}">Others' Work</a> |
  <a href="{% url 'posts:blog' %}">Blog</a> |
  <a href="{% url 'posts:colophon' %}">Colophon</a>
  
  ⚘
</p>



{% block content %}{% endblock content %}

<h3>⚘</h3>
