{% extends 'posts/base.html' %}

{% block content %}

  <h1>Code 👩‍💻</h1>

  <p>“Wait, you don’t have a GitHub??”</p>

  <p>Having deleted my old GitHub account due to my Microsoft boycott, I’m still figuring out a good fully open source tool to host my code for backup and collaboration.</p>

  <p>Forgejo and Codeberg appear to be coming out on top as the next winners in this arena, but I’ve heard some potentially concerning things about the main Codeberg instance, so I’m still looking into solutions.</p>

  <p>For now I’m hosting a small amount of code on my own website, as a temporary fix. Because I'm no deployment expert, by far, so far I've gotten a few single-file scripts on here; I'm still figuring out how to upload repos.</p>

  <p>A Codeberg or GitHub account will probably be required for any collaborative projects I do in the immediate future. This is fine - I don’t mind making an account on either of those platforms to make things easier for my collaborators while I figure out a more permanent solution.</p>

  <p></p>


{% endblock content %}
