{% extends 'posts/base.html' %}

{% block content %}

  <h1>Colophon 💮</h1>

  <p>As an experiment to test what's possible with raw HTML, and to stretch my creative muscles, I decided to make this initial version of my website entirely without CSS, and with the fewest number of dependencies I could get away with.</p>

  <p>This website and all its content was built by hand, from scratch, without AI assistance.</p>

  <p>It has no ads and no trackers.</p>

  <h3>Languages:</h3>
  <p>Python 3.13</p>
  <p>HTML</p>

  <h3>Libraries:</h3>
  <p>django</p>
  <p>django-simple-deploy (Thank you for this tool, @ehmatthes!)</p>

  <h3>Host:</h3>
  <p>Upsun</p>

  <h3>Coded on:</h3>
  <p>Muji dot grid notebook (Yes, really. I always begin my projects on paper)</p>
  <p>M1 MacBook Pro</p>

  <h2>👷‍♀️ This website is a work in progress. What I'd like to add next:</h2>
  <ul>
    <li>some blog posts!</li>
    <li>styling with CSS</li>
    <li>a dark mode toggle</li>
    <li>an RSS feed for my blog</li>
    <li>a rolling ticker tape feature along the top or bottom, which showcases *other people's* cool websites and projects</li>



  </ul>

{% endblock content %}
