<h1>⚓️ Depths ⚓️</h1>

<h4>My principles, philosophies, and deeply held beliefs</h4>

<p>This quote by Nobel Prize-winning physicist Dennis Gabor encapsulates my software design philosophy:</p>

    <blockquote cite="https://www.google.ca/books/edition/Innovations_Scientific_Technological_and/uawyAAAAMAAJ">
The most important and urgent problems of the technology of today are no longer the satisfactions of the primary needs or of archetypal wishes, but the reparations of the evils and damages wrought by the technology of yesterday. <br>
    - Innovations: Scientific, Technological, and Social (1970), OUP, p9
</blockquote>

<p>(more coming soon...)</p>

<h4>Next:</h4>

<h5>that's nice. but how are you acting in accordance with this? check out all the activity at <a href="{% url 'posts:lands' %}">ground level</a> ⬆️</h5>

<h5>back to start ↩️️</h5>
<a href="{% url 'posts:home' %}">Home</a>     