<h1>🏔️ Lands 🏔️</h1>

<h4>A flurry of industrious activity, and much varied terrain</h4>

<p>These ‘ere parts are all about what I have going on right now. There's lots to see at ground level! Have a gander 'round these lands as you please by exploring the links below.</p>

<p>These are the coding <a href="{% url 'posts:projects' %}">projects</a> I’m currently working on, and more broadly, this is everything else I'm giving my time and attention to in life right <a href="{% url 'posts:now' %}">now</a>.</p>

<p>I’ve recently been initiated into the wonderful world of microcontrollers, via <a href='https://www.youtube.com/watch?v=UygK5W3txTM'>this</a> video. I’m <i>obsessed</i>.</p>

<p>Here’s a list of my current <a href="{% url 'posts:favourites' %}">favourite</a>... everythings.</p>

<p>I like to promote others’ work, not just my own, so I keep a short list of <a href="{% url 'posts:otherswork' %}">cool websites</a> and projects that I think you should check out too. As a big open source and privacy advocate, I’m always trying to upgrade my tooling to software that’s ethically built and run, and just as good as that of the big dogs, so check out my recommended <a href="">replacements</a>.</p>

<p>I like to keep up with what’s current and cutting edge in the world of tech. You can find what I’m reading and liking on my new <a href="https://techhub.social/@wenix">Mastodon</a> account (this is also the best way to contact me right now). I plan to begin blogging in earnest, so you will find more detailed thoughts on what I read and what I’ve learned on this website very soon. I’ve already built the (so far, empty) <a href="{% url 'posts:blog' %}">blog</a>!</p>

<p>To get a little meta: Interested in how and why this website was built? Check out the <a href="{% url 'posts:colophon' %}">colophon</a>.</p>

<p>And as a reward for being a brave discover, and reading all that, have a little <a href="{% url 'posts:treat' %}">treat</a> (you won't find this linked anywhere else on the site ❤️)</p>



<h4>Next:</h4>

<h5>rise to the <a href="{% url 'posts:skies' %}">skies</a> ⬆️</h5>

<h5>plumb the mysterious <a href="{% url 'posts:depths' %}">depths</a> ⬇️</h5>

<h5>back to start ↩️️</h5>
<a href="{% url 'posts:home' %}">Home</a>     
