{% extends 'posts/base.html' %}

{% block content %}

  <h1>Now 📆️</h1>

  <p>(This is a <a href='https://nownownow.com/about'>now</a> page. You should make one too!)</p>

  <h2>This is what I'm currently:</h2>

  <h3>building:</h3>
  <ul>
    <li>this website</li>
    <li>FinishBook, a reading tracker with a custom, self-updating prediction algorithm that can predict when you'll finish the book you're reading, and whether you'll finish it before your book club meeting 😉</li>
    <li>the "Urghhh..." Challenger, an Arduino project</li>
    <li>greek deity explorer app, intended to be part of my larger project: a 90s-style website for kids</li>
  </ul>

  <h3>learning / experimenting with:</h3>
  <ul>
    <li>python's json module</li>
    <li><a href='https://docs.astral.sh/uv/'>uv</a>, a superfast python package manager built in Rust</li>
    <li>the fediverse, beginning with Mastodon</li>
  </ul>

  <h3>reading:</h3>
  <ul>
    <li><a href='https://www.goodreads.com/book/show/35953464-broad-band'>Broad Band</a> (history) - a history of computing that tells the stories of the many forgotten women who pioneered this field</li>
    <li>Kindred by Octavia Butler (sci-fi)</li>
    <li>Treasure Island by Robert Louis Stevenson (adventure)</li>
  </ul>

  <h3>doing:</h3>
  <ul>
    <li>applying to the <a href='https://www.recurse.com/'>Recurse Centre</a></li>
    <li>watching more videos from <a href='https://fosdem.org/2026/'>FOSDEM 2026</a>, a massive, head-spinning conference held annually in Brussels dedicated exclusively to FOSS software</li>
  </ul>

  <h3>enjoying:</h3>
  <ul>
    <li>all this snow ❄️</li>
    <li>pumpkin pie 🥧</li>
    <li><a href='https://vscodium.com/'>VS Codium 🪾</a></li>

  </ul>
  
  
{% endblock content %}
