{% extends 'posts/base.html' %}

{% block content %}

<h1>Others' Work 🤩</h1>

<p>I know that a personal website is meant to showcase your own work, but I think promoting others' work is just as important.</p>

<p>There are a lot of projects out there that don't get enough attention, that deserve it.</p>

<p>This page is meant to highlight cool projects that inspire me in my own work, and that need way more attention and love!</p>

</br>


<h3>"Insanity" projects 😝:</h3>
<p>An insanity project is a project that you undertake for no reason other than you want to see what you're capable of (under the pretext of seeing what the tech is capable of).</p>
<p>There are all kinds of insanity projects throughout history, from the building of the Pyramids to  the Toronto runner who created a <a href="https://www.ctvnews.ca/toronto/article/why-this-toronto-man-ran-so-a-giant-stickman-could-dance/">dancing stick man</a> in Strava, but they are plentiful in the tech world. Below are some of my favourites.</p>

  <ul>
    <li><a href="https://www.youtube.com/watch?v=0mCsluv5FXA">Doom in Typescript types</a> (via <a href="https://simonwillison.net/2025/Feb/27/typescript-types-can-run-doom/">Simon Willison</a>)</li>
      <ul>
        <li>Trust me, you're going to want to watch that video (dw, it's relatively short)</li>
        <li>Side note: I learned so much from the creator's explanatory comments under that video. For example, quite counterintuitively, the reason he kept going was because he was convinced from the beginning it *couldn't* be done, and in trying hard to find the reason it couldn't be done, he kept finding ways it *could* be done!</li>
        <li>Another thing I learned from his comments: <u>Very few things in life are actually hard; most of them are just hard work.</u> The creator: "what's interesting is that there really wasn't any part of it that was 10/10 hard. there were just thousands of 8/10s"</li>
      </ul>
    <li>Relatedly, <a href="https://en.andros.dev/blog/7b1b607b/doom-in-django-testing-the-limits-of-liveview-at-600000-divssegundo/">Doom in Django</a></li>
    <li><a href="https://eieio.games/blog/running-pong-in-240-browser-tabs/">Pong in browser tabs</a></li>    
  </ul>
</br>

<h3>Simple yet innovative ideas 🤔:</h3>
  <ul>
    <li>StreetComplete: the Open Street Map game (<a href="https://fedi.slightly.tech/@joepie91/statuses/01K9Q6B633H6DBKQYJSMD4E6XE">about</a>) (<a href="https://streetcomplete.app/">link to app</a>)
      <ul>
        <li>Like Pokemon Go but civic-minded! </li>
        <li>Side note: This is how you (a) contribute to open source if you're a regular person who knows nothing about tech (b) help regular people contribute to open source, if you *are* in tech</li>
      </ul>
    <li>My Life in Weeks (<a href="https://weeks.ginatrapani.org/">link</a>) </li>
    <li>Advent of Code: what if l33tcode but more fun and Christmas-themed?</li>
  </ul>
  </br>

<h3>Fun little websites 🙃:</h3>
  <ul>
    <li><a href="https://ncase.me">ncase.me</a></li>
    <li><a href="https://neal.fun">neal.fun</a></li>
  </ul>

{% endblock content %}
