{% extends 'posts/base.html' %}

{% block content %}

<h1>Projects 🤖👩‍🎨</h1>
<h2>Legend</h2>
<table>
<thead>
<tr>
<th align="left"><em>Project phase</em></th>
<th align="center"></th>
<th align="left"><em>Status</em></th>
</tr>
</thead>
<tbody><tr>
<td align="left">Idea 💡</td>
<td align="center"></td>
<td align="left">Logic 🧠</td>
</tr>
<tr>
<td align="left">Spec written 📄</td>
<td align="center"></td>
<td align="left">Styling and polishing 💅</td>
</tr>
<tr>
<td align="left">Basic version 👶</td>
<td align="center"></td>
<td align="left">Complete ✅</td>
</tr>
<tr>
<td align="left">Beta testing 👥</td>
<td align="center"></td>
<td align="left">Deployed and live 🚀</td>
</tr>
<tr>
<td align="left">New release 🎉</td>
<td align="center"></td>
<td align="left">Promotion and marketing 📣</td>
</tr>
<tr>
<td align="left">Fixes 🔨</td>
<td align="center"></td>
<td align="left"></td>
</tr>
<tr>
<td align="left">New feature addition 👧</td>
<td align="center"></td>
<td align="left"></td>
</tr>
<tr>
<td align="left">Maintenance 🧍‍♀️</td>
<td align="center"></td>
<td align="left"></td>
</tr>
<tr>
<td align="left">Finished 🏁</td>
<td align="center"></td>
<td align="left"></td>
</tr>
</tbody></table>
<h2>Current projects</h2>

<ol>
<li>My website 👶 💅</li>


<summary><li>FinishBook 👧 🧠</li></summary>
	<details> A private, custom, and self-customizing predictive algorithm to help you finish that book in time for the book club meeting</details>

<summary><li>The "Urghhh..." Challenger 👶 🧠</li></summary>
	<details> An Arduino project I thought up to solve a problem I have
	  <ul>
	    <li>The problem: I hate processing my email inbox. Yet when I do begin the task, it's hard to stop until "finished".</li>
	    <li>The solution: My project rings at a specific time each evening to alert me to get ready to begin, then the LED lights change when the timer starts, and I have to finish within the given time, pushing the button when I stop. The button logs the finish time.</li>
		<li>The benefits: This way I force myself to do an admin chore daily, stop at an appropriate time, and log how disciplined I'm being about stopping when I have to, helping me to get better at sticking to the end times of things I've scheduled in my calendar.</li>
		<li>The delight: It also turns something I find boring and tedious to something that's now a fun challenge. </li>
		<li>The possible extension: Maybe I will go further and add another pushbutton I can press every time I process an email! That would make it even more fun, and create even more logs I can analyze. (You can bet I would be pushing that pushbutton with gusto every time!)</li> </details>

<summary><li>LitKids 💡</li></summary>
	<details>A 90s-style interactive learning and play website for kids, with an initial focus of expanding children's love for books</details>

</ol>


<h2>Recently completed projects</h2>
<p><sub>(though is anything ever “complete”? I’ll probably come back to these at some point)</sub></p>
<ol>
	<li>bedtime! alert system</li>
	<li>learning resources tracker</li>
	<li>digital bookshop</li>
</ol>

<h2>What’s next on my list of things to build, extend, or explore</h2>
<h4>To build: hardware</h4>
<pre><code>* a morning display for myself
* a custom e-paper openhardware smartwatch
</code></pre>
<h4>To build: software</h4>
<pre><code>* WikiArt app: a mobile app to hellp you scroll better things
* CityLove: a web app that maps and filters all the free cultural resources in your city: art galleries, museums, historic buildings, etc
</code></pre>
<h4>To extend: new features or improvements to my existing projects</h4>
<pre><code>* extend FinishBook from software only to hardware
* extend digital bookshop into full-featured, open source e-commerce solution
</code></pre>
<h4>To explore</h4>
<pre><code>* package management: uv
* editor: vim or neovim
* microcontroller software: micropython vs circuitpython
* microcontroller components: what&#39;s out there, and where to source them locally
</code></pre>

{% endblock content %}